<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h2>Bienvenido al sistema de análisis de sentimientos</h2>
    <p>¿Qué frase te ustaría analizar a través de Twitter?</p>
    <form action= "twitter/monitor" method="GET">
        <p>Ingresa la frase a evaluar:</p>
        <input type="text" name="phrase" id='phrase' required/>
        <input type="submit" value="Send"/>
    </form>
</body>
</html>